body {
    font-family: "Roboto", sans-serif;
    color: #435543;
    font-size: 16;
    line-height: 1.5;
}

.button-click {
    background-color: #4d5ae5;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    cursor: url(hand.cur), pointer;
}

.button-click:hover {
    background-color: #404bbf;
}

.button-click:active {
    background-color: #404bbf;
}

.navigation .link {
    color: #2e2f42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    text-decoration: none;
}

.navigation .link:hover {
    color: #404bbf;
}

.navigation .link:active {
    color: #404bbf;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    text-transform: uppercase;
    text-decoration: none;
}

.contact-list .link {
    color: #2e2f42;
    font-size: 16px;
    line-height: 1.5;
}

.contact-list .link:hover {
    color: #404bbf;
}

.contact-list .link:active {
    color: #404bbf;
}

.main-header {
    color: #ffffff;
    font-size: 56;
    font-weight: 700;
    line-height: 1.07143;
}

.header-titles {
    color: #2e2f42;
    font-size: 36;
    font-weight: 700;
    line-height: 1.11111;
}

.list-titles {
    color: #2e2f42;
    font-size: 20;
    font-weight: 500;
    line-height: 1.2;
}

.list-titles p {
    color: #434455;
    font-size: 16px;
}
